# Introduction to Python

## Arithmetic Operators

In [103]:
1 + 5

6

In [104]:
1 / 2

0.5

In [105]:
#exponents
4 ** 4

256

In [106]:
# python will follow order of operations
5 + 4 * 6

29

In [107]:
4 - 2

2

In [108]:
print('Hello, World!')

Hello, World!

## Using Variables

In [109]:
# defining x and y
x = 5
y = 10

In [110]:
x + y

15

In [111]:
# different method of defining multiple variables
x, y, z = 50, 12, 6.8 # note that the new values assigned to x and y will overwrite the old values

x * y - z

593.2

## Python Identifiers (variables) Rules
- It's a name used to identify variables, functions, or any python objects
- Can be a combination of:
    - Letters in lower or upper case
    - digits
    - underscore (e.g. my_variable = 70)
- An identifier cannot start with a  digit
- Avoid special chars (!, @, #, $, %)
- Avoid using reserved words (e.g. class, str, int)
- They are case sensitive. a is different than A

In [112]:
a = 46
a + 6

52

In [113]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Logical Operators

In [114]:
a = 20
b = 10

In [115]:
a > b

True

In [116]:
a < b

False

In [117]:
# combine multiple conditions
z = 10

(a > b) & (z == b)

True

In [118]:
(a > b and z > b)

False

In [119]:
(a > b or z > b) # one of the conditions has to be satisfied

True

In [120]:
not(a<50)

False

In [121]:
5 != 3

True

In [122]:
print(5 + 3)
print(4 + 20)

8
24

## Importing a Python Library

In [123]:
import math
math.sqrt(1024)

32.0

> Libraries can be imported once per session. If the session is closed, the import library command needs to be run again.

For full list of available functions in `math` https://docs.python.org/3/library/math.html

## Python Data Types

- Numbers: integers and floats
- Strings: a sequence of alphanumeric chars
- Sequences:
    - Lists: mutable sequences (editable)
    - Sets: mutable sequences for only unique element (no duplication)
    - Tuples immutable sequences (uneditable)
- Dictionaries: collection of key-value pair for data
- Booleans: True/False

### Numbers

In [124]:
x = 100

In [125]:
type(x)

int

In [126]:
v = 5.7
type(v)

float

In [127]:
int(v)

5

In [128]:
math.ceil(4.6)

5

### Strings

In [129]:
my_str = 'this is a string'
type(my_str)

str

In [130]:
my_str = 'this is a string'
my_str2 = 'this is a second string'
print(my_str)
print(my_str2)

this is a string
this is a second string

Using double vs single quote 
- You can use either. 
- Using both becomes important when you have special chars

In [131]:
my_str = "He's a nice person"

my_str = 'This is a "text" example'

#### String Concat with Print

In [132]:

num = 40
item = 'apples'

In [133]:
#method 1
print('We have '+str(num)+' '+item)

We have 40 apples

In [134]:
#method 2
print('We have',num,item)

We have 40 apples

In [135]:
#method 3 - we don't use numbers make sure you follow the exact order
print('We have {} {}'.format(num, item))

We have 40 apples

In [136]:
#method 3 - more examples with indices - counting starts from 0
print('We have {0} {1}. {1} are delicious'.format(num, item))

We have 40 apples. apples are delicious

In [137]:
#Method 4
print(f'We have {num} {item}. {item} are delicious')

We have 40 apples. apples are delicious

#### String Functions in Python

In [138]:
# text formatting
my_str = 'THis iS A teXT'
my_str.upper()

'THIS IS A TEXT'

In [139]:
my_str.lower()

'this is a text'

In [140]:
my_str.title()

'This Is A Text'

In [141]:
my_str = "    Hello    "
my_str.strip()

'Hello'

In [142]:
#add leading zeroes to a number
numb = '42'
padded_number = numb.zfill(5) #pads zeroes to give a 5 char-wide string
padded_number

'00042'

In [143]:
my_str = 'Hello'
my_str.rjust(10)

'     Hello'

Python full string functions list https://docs.python.org/3/library/string.html

In [144]:
# checking content
my_str = '70'
my_str.isdigit()

True

> Make sure you define the string. Using the function on its own does not overwrite.

In [145]:
my_str = 'THis iS A teXT'
# redefine the str to overwrite with the formatting
my_str = my_str.upper()
my_str

'THIS IS A TEXT'

In [146]:
# replace
my_str = 'Hello, World!'
new_str = my_str.replace('Hello', 'Hi')
new_str

'Hi, World!'

In [147]:
my_str = "Hello, World! Thanks, take care!"
my_str.split(',')

['Hello', ' World! Thanks', ' take care!']

In [148]:
# stacking multiple functions
my_str = '    THis iS A teXT   '
my_str = my_str.upper().strip().replace('TEXT', 'STRING') #make sure you use TEXT uppercase because python is case sensitive
my_str

'THIS IS A STRING'

In [149]:
# membership or search
my_str = "Hello, World! Thanks, take care!"

'Thanks' in my_str

True

In [150]:
'Thanks' not in my_str

False

In [151]:
my_str = 'Python is fun. Python is good'
str_pos = my_str.find('Python') #return the lowest index where the substring is found
str_pos

0

In [152]:
my_str = 'Python is fun. Python is good'
str_pos = my_str.find('Python',2)
str_pos

15

> If the word is not found, it will return -1

### String Indexing or Slicing

In [153]:
d = 'Sunday'

# S u n d a y
# 0 1 2 3 4 5

In [154]:
d[2]

'n'

In [155]:
d[4]

'a'

In [156]:
# range
d[1:4] # the range end index does not get included

'und'

In [157]:
x = 5

d[x]

'y'

In [158]:
# grabbing the last 3 chars
print(d[3:6])
print(d[3:]) # when we don't specify a num at the end, it uses infinity

day
day

In [159]:
# using no num for start point, starts from the beginning all the time
d[:4]

'Sund'

In [160]:
d[:]

'Sunday'

In [161]:
#data cleansing scenarios where indicies are useful
'Sunday'
'Sun'
'Tues'

'$80'
'$1000'

'$1000'

In [162]:
# negative indices
# S   u  n  d  a  y
# -6 -5 -4 -3 -2 -1

d[-1]

'y'

In [163]:
# this is a scenario where negative indcies become useful

s = 'Sunday'
t = 'Tuesday'

s[5], t[5]

('y', 'a')

In [164]:
s[-1], t[-1]

('y', 'y')

In [165]:
s[len(s)-1]

'y'

## Lists

Lists are sequences of elements separated by commas and can take any data type

In [166]:
my_list = ['a', 34, 'cat', False]

type(my_list)

list

In [167]:
# adding an item to a list - to the end of the list
my_list.append('g')
my_list

['a', 34, 'cat', False, 'g']

In [168]:
# to insert ina  specific position
my_list.insert(1,'x')
my_list

['a', 'x', 34, 'cat', False, 'g']

In [169]:
# extend will append multiple elements to a list
my_list.extend([4,7,2])
my_list

['a', 'x', 34, 'cat', False, 'g', 4, 7, 2]

In [170]:
my_list_str = [item for item in my_list if isinstance(item, str)]
my_list_str

['a', 'x', 'cat', 'g']

In [171]:
# using indices to update a specific element in the list
my_list[3] = 'dog'
my_list

['a', 'x', 34, 'dog', False, 'g', 4, 7, 2]

In [172]:
# get the index of an element on the list
itm_index = my_list.index(34)
itm_index

2

In [173]:
#remove an item from a list
my_list.remove('x')
my_list

['a', 34, 'dog', False, 'g', 4, 7, 2]

In [174]:
# remove the last item
my_list.pop()
my_list

['a', 34, 'dog', False, 'g', 4, 7]

In [175]:
# get a slice of a list
sub_list = my_list[-4:-1] # or use [3:]
sub_list

[False, 'g', 4]

In [176]:
my_list = [12,10,7, 4, 100]

10 in my_list

True

In [177]:
13 in my_list

False

In [178]:
# sorting
sorted_list = sorted(my_list)
sorted_list

[4, 7, 10, 12, 100]

In [179]:
my_list.sort() #sort() overwrites withing redefining the list
my_list

[4, 7, 10, 12, 100]

In [180]:
my_list.sort(reverse=True) #reverse order
my_list

[100, 12, 10, 7, 4]

In [181]:
reversed_list = list(reversed(my_list))
reversed_list

[4, 7, 10, 12, 100]

In [182]:
# sort by default will throw an error when we have a mix of data types
my_list = ['a', 34, 'cat', False]
my_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [81]:
my_list = ['a', 34, 'cat', False] 
my_list.sort(key=str)#num, booleans, alpha
my_list

[34, False, 'a', 'cat']

In [82]:
# count the num of elements
len(my_list)

4

In [83]:
# count the num of occurances for a specific element in a list
my_list = [1,2,3,4,4,5,6,8,4]
my_list.count(4)

3

List docs in python https://docs.python.org/3/tutorial/datastructures.html

### Tuples

In [84]:
my_tp = (3,4,6) #note the round parantheses 
type(my_tp)

tuple

| | Tuple | List |
|----|----|----|
|Modification| Immutable | Mutable |
|Performance| Fast | Slow|

## Dictionaries

They are used to store data in key-value pairs

In [85]:
my_dict = {
    # key : value
    'brand':'Ford',
    'model':'Mustang',
    'year':1964,
    'color':'red'
}

In [86]:
#reference a specific value using a key - get the car odel
my_dict['model']

'Mustang'

In [87]:
# concat
print(f"My car is {my_dict['brand']} {my_dict['model']} - color is {my_dict['color']}.")

My car is Ford Mustang - color is red.

In [88]:
#update a value in a  dict
my_dict['color'] = 'Black'
my_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [89]:
#remove a key from the dict
del my_dict['color'] 
my_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [90]:
#membership evaluation
'year' in my_dict

True

In [91]:
# get a list of keys
my_dict.keys()

dict_keys(['brand', 'model', 'year'])

In [92]:
#get a list of values
my_dict.values()

dict_values(['Ford', 'Mustang', 1964])

In [93]:
# merge 2 dictionaries together
my_dict2 = {'engine':'V6',
            'type':'coupe'}

my_dict.update(my_dict2)

my_dict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'engine': 'V6',
 'type': 'coupe'}

Using a dictionary with lists. Indexing with Key Reference

In [94]:
my_dict = {
    # key : value
    'brand':['Ford','Chevrolet', 'Audi'],
    'model':['Mustang', 'Camaro','R6'],
    'year':[1964,1970, 2008],
    'color':['red','blue', 'white']
}

In [95]:
my_dict['brand'].append('Jeep')
my_dict['model'].append('Cherokee')
my_dict['year'].append('1970')
my_dict['color'].append('green')

#alternative
#my_dict.append({'brand':'Jeep','model':'Cherokee'.....})

In [96]:
my_dict

{'brand': ['Ford', 'Chevrolet', 'Audi', 'Jeep'],
 'model': ['Mustang', 'Camaro', 'R6', 'Cherokee'],
 'year': [1964, 1970, 2008, '1970'],
 'color': ['red', 'blue', 'white', 'green']}

In [97]:
my_dict['brand'] #gives the full list

['Ford', 'Chevrolet', 'Audi', 'Jeep']

In [98]:
type(my_dict['brand'])

list

In [99]:
#we can stack index location since the output is a list
# audi
my_dict['brand'][2]

'Audi'

In [100]:
#change the color for Audi
my_dict['color'][2] = 'silver'
my_dict

{'brand': ['Ford', 'Chevrolet', 'Audi', 'Jeep'],
 'model': ['Mustang', 'Camaro', 'R6', 'Cherokee'],
 'year': [1964, 1970, 2008, '1970'],
 'color': ['red', 'blue', 'silver', 'green']}

> if you do my_dict['brand'].sort() it'll only sort the items for that key.

In [101]:
# adding a new key
my_dict['engine'] = ['V8', 'V6', 'V6', 'V4']
my_dict

{'brand': ['Ford', 'Chevrolet', 'Audi', 'Jeep'],
 'model': ['Mustang', 'Camaro', 'R6', 'Cherokee'],
 'year': [1964, 1970, 2008, '1970'],
 'color': ['red', 'blue', 'silver', 'green'],
 'engine': ['V8', 'V6', 'V6', 'V4']}

In [102]:
# find audi in the dict
audi_pos =my_dict['brand'].index('Audi')
audi_pos

2