# Conditional Statements and Loops

## Conditional Statements
- They let you build logic and control the processing of your program by making **decision** based on **Conditions**
- It's a logic for evaluation. If it's true, it executes the underlying task.
- Syntax: `if` and `:` and indentation

In [1]:
x = 10 

if x > 4:
    print('Yes')

Yes

### Using `if` and `else` statements

In [2]:
x = 10 

if x < 4:
    print('Yes')
else:
    print('No')

No

In [3]:
is_sunny = True

if is_sunny:
    print("It's always sunny in Phily")
else:
    print("It's not sunny")

It's always sunny in Phily

`input()` function can be used along with `if` to capture use input and process it with logic.

In [4]:
x = input('Enter Value')
print(x)

24

**Exercise**
- Build a program that tells the user if they can open a bank account or not - based on their age.
- if the age is over 18 then "allowed". if not, "they need a custodian account"

In [5]:
#taking an input - by default it takes text values. So, we need to convert to int for our evaluation 
x = int(input('Enter your age'))

print('Your age is:',x)

#evaluation
if x >= 18:
    print('You can open a bank account')

else:
    print('You need a parent to open a custodian account')

Your age is: 24
You can open a bank account

`elif` (Else If statement)

**Exercise** Build a program that can check if the fruit is Orange, Apple, or unidentified.

In [6]:
fruit = 'Kiwi'

if fruit == 'Apple':
    print("it's an", fruit)
elif fruit == 'Orange':
    print("it's an", fruit)
elif fruit == 'Guave':
    print("it's an", fruit)

else:
    print('Fruit is unidentified')

Fruit is unidentified

You can also use `match`. However, it's only supported with Python 3.10 and beyond.

In [7]:
fruit = 'Orange'

match fruit:
    case 'Apple':
        print("it's an", fruit)
    case 'Orange':
        print("it's an", fruit)

it's an Orange

### Nested `if` Statements

**Exercise** Check if a number if between 3 and 20.

In [8]:
x = 5

if x>3:
    if x<20:
        print('x is between 3 and 20')

x is between 3 and 20

**Exercise** Build an item list for shopping. If the item does not exist, then print a message "unavailable".

In [9]:
fruits = ['apple', 'banana', 'kiwi']

f = 'watermelon'

if f in fruits:
    print(f'{f} is available')
else:
    print(f'{f} is unavailable')

watermelon is unavailable

Ternary Conditional Expression in Python

In [10]:
age = 20

status = 'Open Account' if age >=18 else ' Open A Custodial Account'
status

'Open Account'

## Python Loops

- Loops are essential to programming as they repeat a task multiple times , iterating through data structures, or automating a process.
- In Python we have 2 types:
    - `for` loop: can iterate over a sequence (list, tuple, string, range, etc...)
    - `while` loop:
        - Repeats as long as a condition is `True`
        - It requires an exit condition to avoid infinite loops

### `for` loops

In [11]:
fruits = ['apple', 'banana', 'kiwi']

for f in fruits:
    print('Fruit:',f)

Fruit: apple
Fruit: banana
Fruit: kiwi

#### Combine `if` and `for` loop

**Exercise** Print the numbers in the list below that are less than 10.

In [12]:
my_list = [5, 15, 7, 11, 9, 100, 55]

for n in my_list:
    if n <10:
        print(n)

5
7
9

Then, add a logic for numbers > 10 where it multiplies by 2

In [13]:
for n in my_list:
    if n <10:
        print(n)
    else:
        print(n*2)

5
30
7
22
9
200
110

In [14]:
# for with nested if statements
nums = [5, 12, 7 , 35, 3]

for num in nums:
    if num>10:
        print(f'{num} greater than 10')
        if num % 2 == 0:
            print(f'{num} is even')

    if num<5:
        print(f'{num} less than 5')

12 greater than 10
12 is even
35 greater than 10
3 less than 5

### Using `range()` with `for` loop

`range(start, end, step)`

In [15]:
# builds a sequence
list(range(1,21)) #the number on the right is not included.thus, a sequence between 1 and 20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
#using steps
list(range(1,21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
#reverse order
list(range(5,0, -1))

[5, 4, 3, 2, 1]

In [18]:
# build a reverse sequence from 20 to 0 with even numbers
list(range(20,0, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

**Exercise** Build a for loop that counts to 10.

In [19]:
for i in range(1,11):
    print(i)
print('Counting is done!')

1
2
3
4
5
6
7
8
9
10
Counting is done!

## `while` loop in python
- Control flow statement in programming that repeatedly executes a block of code **as long as a given condition is true.**
- It's useful when you **don't know beforehand** how many times you need to repeat something, and you want to keep looping **until some condition changes**.

**Exercise** Using `while` loop count from 1 to 8.

In [20]:
count = 1

while count <= 8:
    print(count)
    #important components - otherwise, it will run to infinity
    count += 1 #similar to having count = count + 1
print('Count is done!')

1
2
3
4
5
6
7
8
Count is done!

**Exercise** now change it to a countdown.

In [21]:
n = 10

while n > 0:
    print(n)
    n-=1
print('Countdown is done!')

10
9
8
7
6
5
4
3
2
1
Countdown is done!

In [22]:
fruits = ['apple', 'banana', 'kiwi']

count = 0

while count < len(fruits):
    print(fruits[count])
    count += 1

apple
banana
kiwi

## Nested Loops

**Exercise** build a nested loop that displays the table of multiplication starting from 2 and end at 10. Example:
- 2 x 1 = 2
- 2 x 2 = 4
- 2 x 3 = 6
- .....

In [23]:
for a in range(2,11):
    print('Multiplication table for:',a)

    #inner loop
    for b in range(1,11):
        print(f'{a} x {b} = {a*b}')

Multiplication table for: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication table for: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication table for: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication table for: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Multiplication table for: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Multiplication table for: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Multiplication table for: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Multiplication table for: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Multiplication table for: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Loop Control Statements
- They are very effective to add more control for the loop
- We have 2 different control statements in Python `break` and `continue`

**Exercise** We have the following string 'automation'.
1. Iterate through every letter and stop at letter 'm'
2. Iterate through every letter and skip the letter 'a'

In [24]:
my_str = 'automation'

In [25]:
#answer 1
for s in my_str:
    #keep iterating through every letter until you reach m, then break the loop
    if s == 'm':
        break
    print(s)

a
u
t
o

In [26]:
# answer 2
for s in my_str:
    if s == 'a':
        continue #move on to the next item, do not execute the next function (print)
    print(s)

u
t
o
m
t
i
o
n

## Additional Functionality of Loops

### Using `zip()` Function
It allows iterating through multiple lists.

In [27]:
names = ['Mary', 'Jack', 'Todd']
ages = [25, 30, 43]
grades = ['B', 'C', 'A']

# print both age and name
for n, a, g in zip(names, ages, grades):
    print(f"{n}'s age is {a} years old. His/her grade is {g}.")

Mary's age is 25 years old. His/her grade is B.
Jack's age is 30 years old. His/her grade is C.
Todd's age is 43 years old. His/her grade is A.

> If you use lists with different lengths, you get an output based on the shortest list.

In [28]:
names = ['Mary', 'Jack', 'Todd']
ages = [25, 30, 43]
grades = ['B', 'C'] #only 2 items

# print both age and name
for n, a, g in zip(names, ages, grades):
    print(f"{n}'s age is {a} years old. His/her grade is {g}.")

Mary's age is 25 years old. His/her grade is B.
Jack's age is 30 years old. His/her grade is C.

If you want to keep all the values, use `zip_longest()`

In [29]:
import itertools 

# print both age and name
for n, a, g in itertools.zip_longest(names, ages, grades, fillvalue='N/A'):
    print(f"{n}'s age is {a} years old. His/her grade is {g}.")

Mary's age is 25 years old. His/her grade is B.
Jack's age is 30 years old. His/her grade is C.
Todd's age is 43 years old. His/her grade is N/A.

### Using `enumerate()`
It helps define an index based on the passed list.

In [30]:
names = ['Mary', 'Jack', 'Todd','Becky']

for i, n in enumerate(names): #by default starts from 0
    print(f'Student {i+1}: {n}')

Student 1: Mary
Student 2: Jack
Student 3: Todd
Student 4: Becky

In [31]:
#alternative 
for i, n in enumerate(names, start=1):
    if i == 1:
        continue
    print(f'Student {i}: {n}')

Student 2: Jack
Student 3: Todd
Student 4: Becky

### Using Loops with Dictionaries

In [32]:
my_dict = {
        'names' : ['Mary', 'Jack', 'Todd'],
        'ages' : [25, 30, 43]
}

keys = list(my_dict.keys())

# print both age and name
for values in zip(my_dict[keys[0]], my_dict[keys[1]]):
    print(f"{values[0]}'s age is {values[1]} years old.")

Mary's age is 25 years old.
Jack's age is 30 years old.
Todd's age is 43 years old.