## Functions in Python
- Functions are reusable blocks of code designed to perform specific tasks.
- Key features:
    - Code Reusability: write code once and reuse multiple times
    - Modularity: breaking the program into smaller segments and use them in different places, which makes it easy to debug, manage, and share.
    - Readability: it helps organize the code nad improve readability

- Two Types:
    - Built-in functions: e.g. `print()` or `len()`
    - User-defined functions: custom functions defined by the programmer.

- Custom function syntax:
```python
def my_function(attribute):
    task 1
    task 2
    return #optional
```

In [3]:
def greetings(UserName, GreetingType):
    return f'{GreetingType}, {UserName}!'

In [4]:
#style 2 for giving an output
def greetings(UserName, GreetingType):
    print(f'{GreetingType}, {UserName}!')

In [5]:
# after defining the function, we need to call it
greetings('Mark','Hello')

Hello, Mark!

In [ ]:
greetings('Hello', 'Mark') #if not specified, the function will capture attributes and input in the exact original order

Mark, Hello!

> if not specified, the function will capture attributes and input in the exact original order

In [7]:
#workaround
greetings(GreetingType='Hello', UserName='Mark')

Hello, Mark!

Passing a missing argument

In [8]:
greetings('Mark')

TypeError: greetings() missing 1 required positional argument: 'GreetingType'

> Workaround: define a default value for a potential missing argument

In [ ]:
def greetings(UserName, GreetingType='Hi'):
    print(f'{GreetingType}, {UserName}!')

In [10]:
greetings('Mark')

Hi, Mark!

In [11]:
def check_pos_neg(num):
    if num > 0:
        return 'Positive'
    elif num < 0:
        return 'Negative'
    else:
        return 'Zero'

In [16]:
eval_result = check_pos_neg(4) 
eval_result

'Positive'

> For default values, make sure they are all defined at the end. Can't mix and match in the order. The non-default arguments should come first.

**Exercise** build a function that applies a flat tax value of 18%.

In [18]:
def amount_aft_tax(Amount, Tax=0.18):
    amount_after = Amount * (1-Tax)
    print('Amount After Tax', amount_after)

In [19]:
amount_aft_tax(50000)

Amount After Tax 41000.0

In [20]:
#customize the tax value
amount_aft_tax(50000, Tax=.22)

Amount After Tax 39000.0

### Arbitrary Arguments
- They allow functions to accept multiple arguments
- It's useful when the function doesn't have a specific number of inputs
- It's denoted by `*` - typically `*args`

In [21]:
# build a function that adds numbers
def my_tot(a,b,c,d):
    return a+b+c+d

In [22]:
my_tot(4,5,6,7) #we are limited to only passing 4 values

22

In [23]:
my_tot(4,5,6,7,10,20)

TypeError: my_tot() takes 4 positional arguments but 6 were given

In [24]:
def my_tot(*args):
    return sum(args)

In [25]:
my_tot(4,5,6,7,10,20)

52

In [26]:
my_tot(4,5,6,7,10,20,34,5,6,7,8,9,1)

122

In [ ]:
def return_1st_elm(*args):
    return args[0]

In [28]:
return_1st_elm(4,5,6,7,10,20,34,5,6,7,8,9,1)

4

For dictionaries, we can use `**kwargs`

In [ ]:
def print_info(**kwargs):
    for key in kwargs.keys(): #using kwargs as a dictionary object
        print(f"{key}: {kwargs[key]}")

In [31]:
print_info(name='Mike', age='50', city='Atlanta', state='GA')

name: Mike
age: 50
city: Atlanta
state: GA

### Scope of A Function

- Global Variable: a variable that's defined outside the function.
- Local Variable: a variable that's defined inside the function. Cna only be changed when you redefine the function.

In [33]:
#global variable

var = 20

def func1(var):
    return var*50

In [34]:
func1(var)

1000

In [ ]:
#local variable
def frt_log(num):
    fruit = 'apples(s)' #local variable
    print(f'I have {num} {fruit}')

In [36]:
frt_log(40)

I have 40 apples(s)

## Useful Tools to Apply Functions

`map()` function

**Exercise** build a function that converts temperatures from C to F.

$$(32°F − 32) × \frac{5}{9}$$

$$F = (C * 9/5) + 32$$

In [ ]:
temp_list = [22,27,33,21,18]
temp_list_F = []
for C in temp_list:
    F = (C * 9/5) + 32
    print(f'Temperature in F:',F)
    temp_list_F.append(F)

Temperature in F: 71.6
Temperature in F: 80.6
Temperature in F: 91.4
Temperature in F: 69.8
Temperature in F: 64.4

In [39]:
temp_list_F

[71.6, 80.6, 91.4, 69.8, 64.4]

In [ ]:
# method 2 using map()

def tempF(C):
    return (C * 9/5) + 32

#map requires list conversion
temp_list_F = list(map(tempF, temp_list))
temp_list_F

[71.6, 80.6, 91.4, 69.8, 64.4]

In [41]:
# can be also used for existing(builtin) python functions
nums = [1,-2,3,4,-5]

nums_abs = list(map(abs, nums))
nums_abs

[1, 2, 3, 4, 5]

`lambda` efficient one line expression for a function

In [42]:
#add 20 to an input
my_func = lambda x: x+20

In [44]:
my_func(24)

44

In [ ]:
orders = [
    {'orderid:':2324234, 'customer_id':'c1', 'product_name'=}
]